.address {

  &__title {
    margin-bottom: 30px;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  &__item {
    width: 340px;
    height: 50px;
    border: 1px solid $color-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-grey;
    padding: 15px 10px;
  }

  &__item-btn {
    background-color: $color-primary;
    color: $color-secondary;
  }

  &__label-save {
    grid-column: 3 / -1;

    & input[type="checkbox"] {
      margin-right: 8px;
    }
  }

}